body{
    background-color: #252525;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
    display: grid;
    align-items: center;
    justify-content: center;
}

h1{
    font-weight: bold;
    align-items: center;
    justify-self: center;

}

label{
    font-weight: bold;
    justify-self: center;
    font-size: larger;
}

input,
select{
    border: white solid 2px;
    border-radius: 10px;
}

button{
    border: white solid 2px;
    font-size: large;
    border-radius: 10px;
    background-color: rgb(38, 182, 192);
}

form{
display: grid;
border: white solid 5px;
border-radius: 25px;
background-color: #4c7895;
padding: 40px;
gap: 20px;
margin-top: 50px;



    /* visibility: hidden; */
}

.bookCard {
    display: inline-block;
    /* align-items: center;
   justify-content: center; */
   border: white solid 5px;
     background-color: #4c7895;
     padding: 20px;
    margin: 50px;
    border-radius: 15px;
}